.header {
    background-color: #b9c9ff;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 10vh;
}

.link {
    color: #333;
    font-weight: 100;
}

.link:hover {
    color: #333;
    font-weight: 100;
    text-decoration: none;
}

.content {
    background-color: #a0a0a0;

    display: flex;
    /*provavelmente temporário */
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    min-height: 80vh;
}

.footer {
    background-color: #b9c9ff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 100vw;
    height: 10vh;
}

.footer span {
    padding: 15px;
}