.comments-container {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comments {
    border: solid;
    height: 70vh;

    display: flex;
    flex-direction: column;
}

.comments-list {
    flex-grow: 1;
    overflow-y: scroll;
}

.new-comment {
    border: solid blueviolet;
}

.comment {
    border: solid yellowgreen;
    word-wrap: break-word;
    font-size: 2rem;
    width: 60vw;
    max-height: 60vh;
    overflow-y: scroll;
}

.close-button, .close-button:focus {
    background-color: transparent;
    border: none;
    outline: none;
    border: solid salmon;
}