.new-post {
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.new-post-text, .new-post-text:focus {
    outline: none;
    resize: none;
    border: none;
    width: 100%;
    height: 24vh;

    background-color: #fffc;
}

.new-post-image-container {
    width: 100%;
    background-color: #fffc;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.image {
    max-width: 100%;
    max-height: 48vh;
}

.image-button, .image-button:focus {
    background-color: transparent;
    border: none;
    outline: none;
}

.image-button:hover {
    background-color: #0001;
}

.image-button, .post-button {
    margin: 10px;
}

.post {
    background-color: #fff5;
    box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.4);
    width: 80vw;
    min-height: 250px;
    margin-bottom: 10px;
    padding: 10px;

    display: grid;
    grid-template-columns: 20% 1fr ;
    grid-template-rows: auto 1fr;

    grid-template-areas: 'picture main'
                         'aside main';
}

.profile-picture {
    grid-area: picture;
}

.profile-picture img {
    width: 100px;
    border-radius: 50%;
}

.aside {
    grid-area: aside;

    display: flex;
    flex-direction: column;
}

.name, .name:hover {
    font-size: 1.2rem;
    color: #111;
    text-decoration: none;
}

.interactions {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
}

.likes-container {
    display: flex;
}

.likes {
    font-size: 1.25rem;
}

.open-comments {
    border: solid wheat;
    /*coloque isso na direita e decida se vai usar um ícone*/
}

.main {
    grid-area: main;

    border-left: solid 1px #555;
    padding-left: 5px;
    /*cuide disso agora*/
}

.post .text {
    font-size: 1.2rem;
    margin-bottom: 5px;
    word-wrap: break-word;
}

.post .image-container {
    max-height: 60vh;

    display: flex;
    justify-content: center;
}

.like-button, .like-button:focus {
    background-color: transparent;
    border: none;
    outline: none;
}
/*pense em alguma coisa para deixar o post bonito, ou ao menos, apresentável*/
/* deve mudar para ficar responsivo */