.main-container {
    width: 100%;
}

.main {
    width: 100%;
    min-height: 80vh;
    padding-top: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.load-more, .load-more:focus {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.1rem;
    margin: 15px;
}

/* bugs para resolver em relação ao logout e a classe is-touch não atualiza automaticamente */
/* o link para a home não está funcionando direito */