.user-container {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}

.another-user-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.user {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 7vh;

    display: grid;
    grid-template-columns: 180px 1fr 100px;
    grid-template-rows: 50px 130px;

    grid-template-areas: " picture name aside "
                         " picture bio bio ";
}

.user-container-small {
    width: 190px;
    height: 215px;
    margin: 0 0 15px 15px;
}

.user-small {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 4px;
    background-color: #0005;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.4);
}

.user-small:hover {
    background-color: #0007;
    box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.6);
}

.user .profile-picture {
    grid-area: picture;
    overflow: hidden;
    position: relative;
}

.user .image {
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0px;
}

.image-container-small {
    width: 100%;
    position: absolute;
    top: 5px;
    left: 5px;
}

.image-small {
    width: 180px;
    height: 180px;
}

.user .name {
    grid-area: name;
    padding: 8px;
    margin-left: 20px;
    font-size: 1.1rem;
}

.chat-link {
    margin-left: 15px;
    color: #111 !important;
}

.name-small {
    width: 100%;
    font-size: 1.1rem;
    font-weight: 400;
    position: absolute;
    bottom: 4px;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.name-small-link, .name-small-link:hover {
    color: #111;
    text-decoration: none;
}

.user .your-posts, .user .friends-button {
    grid-area: aside;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.user-small .friends-button {
    position: absolute;
    top: 0px;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.user .bio {
    grid-area: bio;
    margin-left: 10px;
    padding: 5px;

    background-color: #0001;
    border-radius: 10px;

    position: relative;
}

.bio-text, .bio-text:focus {
    height: 100%;
    width: 100%;  
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    overflow: hidden;
}

.img-button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
}

.input-file {
    display: none;
}

.bio-button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
}

.bio-button, .img-button, .bio-button:focus, .img-button:focus {
    background-color: transparent;
    border: none;
    outline: none;
}

.bio-button:hover, .img-button:hover {
    background-color: #0001;
    border-radius: 6px;
}

.user-container .friends {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.loading {
    position: relative;
    top: 50px;
}

@media (max-width: 440px)
{
    .user-container .friends {
        flex-direction: column;
        align-items: center;
    }

    .user {
        margin-bottom: 20px;

        grid-template-columns: 180px 1fr;
        grid-template-rows: 50px 130px 1fr;
    
        grid-template-areas: " picture aside "
                             " picture name "
                             " bio bio ";
    }

    .user .your-posts, .user .friends-button {
        justify-content: flex-end;
        padding: 18px 0;
    }

    .user .name {
        padding: 0 8px;
        margin-left: 0;
        font-size: 1.1rem;
    }

    .user .bio {
        margin-top: 10px;
        min-height: 130px;
    }
}