.user {
    width: 95%;
    min-height: 74vh;

    align-self: flex-start;
    margin: 1rem 0 ;

    display: grid;
    grid-template-columns: 180px 1fr 100px;
    grid-template-rows: 40px 140px 1fr;

    grid-template-areas: " picture name aside "
                         " picture bio bio "
                         " friends friends friends";
}

.user-small {
    display: grid;
}

.user .profile-picture {
    grid-area: picture;
    overflow: hidden;
}

.user .image {
    min-height: 100%;
    min-width: 100%;
    position: relative;
    top: -25px;
}

.user-small .image-small {
    background-color: green;
}

.user .name {
    grid-area: name;
    padding: 8px;
}

.user-small .name-small {
    background-color: green;
}

.user .your-posts {
    grid-area: aside;
    display: flex;
    align-items: center;
}

.user .friend-button {
    background-color: green;
}

.user-small .friend-button {
    background-color: green;
}

.user .bio {
    grid-area: bio;
    margin-left: 10px;
    padding: 5px;

    background-color: #0001;
    border-radius: 10px;
}

.user-small .bio-small {
    background-color: green;
}

.bio-text, .bio-text:focus {
    height: 100%;
    width: 100%;
    position: relative;
    top: -30px;   
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

.bio-text-small, .bio-text-small:focus {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

.img-button {
    position: relative;
    top: 150px;
    left: 150px;
    z-index: 1;
}

.input-file {
    display: none;
}

.bio-button {
    position: relative;
    top: 108px;
    left: 1075px;
    z-index: 1;
}

.bio-button, .img-button, .bio-button:focus, .img-button:focus {
    background-color: transparent;
    border: none;
    outline: none;
}

.bio-button:hover, .img-button:hover {
    background-color: #0001;
    border-radius: 6px;
}

.user .friends {
    grid-area: friends;
}

.loading {
    position: relative;
    top: 50px;
}